@import '../../assets/styles/constants/breakpoints.scss';

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    overflow: hidden;

    > * {
        flex: 1;
    }

    figure {
        margin: 0;

        span {
            display: block !important;
        }
    }

    @media screen and (min-width: $bpSmall) {
        flex-direction: row;
    }
}

.info {
    padding: 1.25rem;

    @media screen and (min-width: $bpSmall) {
        padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 1.2;

        @media screen and (min-width: $bpSmall) {
            font-size: 3.5rem;
        }
    }

    p {
        margin: 2.5rem 0;
        font-size: 1.125rem;
        letter-spacing: 0.0625rem;

        @media screen and (min-width: $bpSmall) {
            font-size: 1.25rem;
        }
    }
}