@import '../../assets/styles/constants/colors.scss';
@import '../../assets/styles/constants/typography.scss';

// these styles are also used on cart-quick-view buttons

.button {
  display: inline-block;
  background-color: $yellow;
  border-color: transparent;
  color: $orange;
  border-width: 0.125rem;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: $fw-bold;
  line-height: 1.5;
  padding: 0.625rem;
  transition: border-color .3s, background-color .3s, color .3s;
  will-change: border-color, background-color, color;

  &:hover {
    background-color: $yellow;
    border-color: $blue;
    color: $blue;
  }
}