@import '../../assets/styles/constants/colors.scss';
@import '../../assets/styles/constants/breakpoints.scss';
@import '../../assets/styles/constants/typography.scss';

.category {
    text-transform: capitalize;
    padding: 1.25rem 1.875rem;
    font-size: 1.25rem;

    span {
        display: inline-block;
        position: relative;
        padding-bottom: 0.315rem;

        &:after {
            content: '';
            width: 90%;
            height: 3px;
            background-color: $blue;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.product-detail {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bpMedium) {
        flex-direction: row;
    }
}

.image {
    flex: 1.5;
    flex-shrink: 2;
    display: grid;
    place-items: center;
    padding: 1.25rem;
    
    @media screen and (min-width: $bpMedium) {
        margin-right: 3%;
    }
    
    @media screen and (min-width: $bpLarge) {
        border-right: 2px solid $yellow;
    }
}

.info {
    flex: 1;
    padding: 1.25rem;
    
    @media screen and (min-width: $bpSmall) {
        max-width: 65%;
    }

    p {
        /* description */
        &:first-of-type {
            letter-spacing: 0.025rem;
        }

        /* price */
        &:last-of-type {
            color: $blue;
            font-size: 1.2rem;
            font-weight: $fw-bold;
        }
    }
}