@import '../../assets/styles/constants/colors.scss';
@import '../../assets/styles/constants/typography.scss';
@import '../../assets/styles/constants/breakpoints.scss';

.cart-list {
    list-style: none;
    justify-content: flex-start;
    padding-left: 0;
        
    li {
        background: $white;
        border-radius: 5px;
        box-shadow: 0 1px 4px rgba($orange, 0.26);
        padding: 0.625rem;
        margin: 0.3125rem 0;
        width: 100%;

        div {
            padding: 0;
            justify-content: flex-end;

            button{
                flex: none;
            }

            span {
                display: inline-block;
                text-align: center;
                max-width: 30px;
                width: 30px;
            }
        
            p {
                display: inline;
                margin-left: 0.625rem;
            }
        }

        figure {
            margin: 0;
        }

        p {
            font-size: 1rem;

            &.title {
                flex: 3;
                padding-left: 0.3125rem;
                line-height: 1.2;
            }
        }
    }
}
