@import '../../assets/styles/constants/colors.scss';
@import '../../assets/styles/constants/typography.scss';
@import '../../assets/styles/constants/breakpoints.scss';

.cart-quick-view {
    background-color: $offWhite;
    max-width: 18.75rem;
    min-width: 18.75rem;
    padding: 1.25rem 1rem;
    position: absolute;
    right: -1.875rem;
    top: 100%;
    z-index: 5;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity .5s, transform .5s;
    will-change: opacity, transform;

    a {
        font-size: 1rem;
        padding: 0.325rem;
    }
}

.subtotal {
    font-weight: $fw-bold;
}

.reveal-cart {
    transform: translateX(0);
    opacity: 1;
}